body {
  font-size: 1em;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2em;
}

h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 2em;
  text-align: center 
}

p.important {
  font-size: 1.5em;
  font-weight: 900;
}

.typewriter {
  font-family: 'Courier New', Courier, monospace;
}

.emphasis {
  font-style: italic;
}

.red-highlight {
  color: #cc0000;
}

.blue-highlight {
  color: dodgerblue;
}

p.more-readable {
  letter-spacing: 0;
  word-spacing: 1em;
  line-height: 1.5em;
}

h3 {
  text-align: center;
}

p.justified {
  text-align: justify;
}
.date-adjust {
  text-align: right;
}

div#date{
  font-size: .8em;
  margin: 0 10em 0 10em;
}

p.indent {
  text-indent: .5em;
}

blockquote {
  font-size: 1.9em;
  color: grey;
  font-style: italic;
}

p.offset {
  margin: 1.5em;
}

.enclosed {
  border: 4px ridge #250657;
  padding: .1em .2em 0 .3em;
}

h2#orange {
  color: orange;
}

img.owns-itself {
  display: block;
  margin-bottom: .5em;
}

img.inset {
  display: block;
  margin-left: 8em;
  margin-bottom: .5em;
}

img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

p.no-wrap {
  clear: both;
}
img.float-right {
  float: right;
  margin: 0 .75em .5em 0;
}